<html>
<head>
    <link rel="Stylesheet" href="mystyle.css">
</head>
<body>
    <div class="container">
        <form>
          <h2>Prediction of LC50 value using Quantitative structure-activity relationship models (QSAR models)</h2>
          <div class="user-box">
            <input type="number" name="" required="">
            <label>CIC0</label>
          </div>
          <div class="user-box">
            <input type="number" name="" required="">
            <label>SM1_Dz(Z)</label>
          </div>
          <div class="user-box">
            <input type="number" name="" required="">
            <label>GATS1i</label>
          </div>
          <div class="user-box">
            <input type="number" name="" required="">
            <label>NdsCH</label>
          </div>
          <div class="user-box">
            <input type="number" name="" required="">
            <label>NdssC</label>
          </div>
          <div class="user-box">
            <input type="number" name="" required="">
            <label>MLOGP</label>
          </div>
          <a href="/predict">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Predict
          </a>
        </form>
    </div>
</body>
</html>
